.column{
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    font-weight: bold;
    font-size: 25px;
}

.chakra-card.task{
    background-color: rgba(49, 130, 206, 1);
    color: white;
    transition: 0.3s;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
}
.column_body{
    width: 50%;
}
.chakra-card.done{
    background-color: rgba(56, 161, 105, 1);
    color: white;
    transition: 0.3s;
    margin: 10px 0;
    cursor: pointer;
}
.chakra-card.progress{
    background-color: rgba(128, 90, 213, 1);
    color: white;
    transition: 0.3s;
    margin: 10px 0;
    cursor: pointer;
}
.task:hover, .done:hover, .progress:hover{
    transition: 0.3s;
    background-color: white;
    color: black;
}
.task_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task_text {
    width: 100%;
    overflow-wrap: break-word;
    height: 100%;
    word-wrap: break-word;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
.task_delete{
    width: 50%;
    display: flex;
    justify-content: center;
}
.task_move{
    width: 100%;
}
.container_move{
    width: 100%;
}
.column_body{
    width: 100%;
}
.buttons_head{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.task_text_around{
    width: 100%;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1400px) and (min-width: 850px) {
  .column{
    width: 35%;
  }
  .buttons_head{
    width: 40%;
  }
}
@media screen and (max-width: 849px) and (min-width: 500px) {
    .column{
      width: 100%;
    }
    .task_text{
        font-size: 15px;
    }
    .chakra-button.task_delete{
        width: 100%;
        font-size: 15px;
    }
    .chakra-heading.column_title{
        font-size: 20px;
    }
    .buttons_head{
        width: 60%;
    }
  }
  @media screen and (max-width: 499px){
    .column{
      width: 100%;
      margin-top: 10px;
      padding: 0 40px;
    }
    .task_text{

        height: 100%;
        width: 100%;
        font-size: 15px;
        word-wrap: break-word;
        margin: 0;
        display: inline-block;
        text-align: center;
    }
    .task_body{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        word-wrap: break-word;
        width: 100%;
        height: 100%;
    }
    .chakra-button.task_delete{
        width: 45%;
        font-size: 15px;
    }
    .container_move{
        width: 100%;
        font-size: 15px;
    }
    .chakra-heading.column_title{
        font-size: 20px;
        text-align: center;
    }
    .chakra-card__body.column_body{
        padding: 0;
    }
    .modal_button{
        width: 40%;
    }
    .buttons_head{
        width: 80%;
    }
    .task_text_around{
        width: 45%;
        overflow-wrap: break-word;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
  }
  