*{
  margin: 0;
  padding: 0;
}
.list{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.columns{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}

@media screen and (max-width: 1400px) and (min-width: 850px) {
  .columns{
    width: 95%;
  }
}
@media screen and (max-width: 849px) and (min-width: 500px) {
  .columns{
    width: 100%;
  }
}
@media screen and (max-width: 499px) {
  .columns{
    width: 80%;
    flex-direction: column;
  }
}



